@import "_mixins.scss", "_variables.scss", "mediaQuerys";
//MAIN

main {
    width: 100%;
    min-height: 85vh;
    background-color: $colorSecundario;

    #titulo {

        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20vh;

        h1 {
            margin-top: 15vh;
        }
    }

    #informacion {
        display: grid;
        justify-items: center;
        padding-bottom: 40px;
        padding-top: 40px;

        img {
            width: 50%;
        }

        #caracteristicas {
            color: lighten($colorBotones, 20);

            .subtitulo1 {
                font-size: 20px;
            }

            .subtitulo2 {
                font-size: 14px;
            }

            #comprar {
                
                @include a($color: rgb(255, 253, 253));
                
                padding: 10px;
                background-color: $colorBotones;
                border-radius: 5px;

                &:hover {
                    background-color: lighten($colorBotones, $amount: 10);

                }

            }
            #favorito{
                margin-left: 5px;
                @include a($color: rgb(255, 253, 253));
                
                padding: 10px;
                background-color: $colorBotones;
                border-radius: 5px;

                &:hover {
                    background-color: lighten($colorBotones, $amount: 10);

                }
                &:visited{
                    color: $colorDetalles;
                }
            }
        }

    }
}

